header{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
   
    
}
h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    flex-grow: 1;
}
.a
{
    height:250vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
   
    
}
.box1
{
    background-color: #1F2937;
    flex:1;
    display:flex;
    padding: 50px;
    padding-left: 100px;
    justify-content:space-around;
}
.box11
{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.box110
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:10px;
}
.box111
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.box112
{
    flex:1;
    color: white;
}
.box113
{
    flex:1;
    
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.box21
{

    display: flex;
    
    justify-content: space-around;
    align-items: center;
    gap:20px;
    padding: 10px;
    flex-wrap: wrap;
}
.box210
{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    max-width: 170px;
    max-height: 170px;
    padding: 10px;

}
.box211
{
   
    border: 4px solid blue;
    border-radius: 10%;
    min-width: 170px;
    min-height: 170px;
}
.box212
{
    flex:1;
    
}
.button
{
    background-color: blue;
    color:white;
    border-radius: 10px;
    box-shadow: 10px;
    width: 100px;
    height: 40px;
}
.box12
{
    flex:2 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box122
{
    flex: 1;
    max-width:500px;
    min-height:200px;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


}
.box2
{
    background-color: white;
    flex:1;
}.box3
{
    background-color: #E5E7EB;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    flex-wrap: wrap;
}
.box31
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:800px;
    gap:20px;
   
}
.box311
{
    font-size: 36px;
    color:#1F2937;
    font-family: light "italic";
}
.box312
{
    font-weight: 700;
    align-self: flex-end;
    font-size: 24px;
}
.box4
{
    background-color: white;
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box41
{
    background-color: #3882F6;
    border-radius: 2%;
    min-width:950px;
    min-height: 150px;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box411
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
}
.box4111
{
    font-weight: 700;
}
.box412
{
    border:2px white;
    border-radius: 10%;
    color: white;
}
.b
{
    font-size: 24px;
    font-weight: 900;
}
.c
{
    display: flex; 
    gap:20px
}

footer
{
    min-height: 80px;
    display: flex;
    justify-content:space-around;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
}